<form action="" class="form-horizontal" method="get" enctype="multipart/form-data" novalidate >
    {{ form_errors(form.name) }}
    <div class="form-group panel-block">
        <div class="row">
            {{ form_label(form.name, "admin.common.form.name", { 'label_attr': { 'class': 'col-sm-1 control-label' }}) }}
            <div class="col-sm-11">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'admin.user.form.search.name'} }) }}
            </div>
        </div>
    </div>

    <div class="form-group panel-block">
        <div class="col-sm-12" style="text-align: center;">
            <input class="btn btn-default" type="submit" value="{{ 'admin.common.search.button'|trans({}, 'app') }}">
        </div>
    </div>
</form>
