{% spaceless %}
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header style="background-image:url('{{ asset('images/front/bg.jpg') }}');">
    <div class="header-content wow fadeInUp">
        <div class="header-content-inner">
            <h1>{{ 'app.global.title'|trans({}, 'app')|raw }}</h1>
            <p class="lead">{{ 'app.global.subtitle'|trans({}, 'app') }}</p>
        </div>
    </div>
    <a href="#profile" class="scroll-down page-scroll">
        <i class="fa fa-arrow-down"></i>
    </a>
</header>
<div class="clearfix"></div>
{% endspaceless %}
