{% if wo_breadcrumbs()|length %}
    {%- spaceless -%}
        <nav aria-label="breadcrumb">
                <ol class="breadcrumb" id="{{ listId }}">
                    {% for b in breadcrumbs %}
                        <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                            {% if b.url and not loop.last %}
                                <a href="{{ b.url }}">
                            {% endif %}
                            {% if b.translate %}
                                 {{- b.text|trans(b.translationParameters, 'app') -}}
                            {% else %}
                                {{- b.text -}}
                            {% endif %}
                            {% if b.url and not loop.last %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
        </nav>
    {%- endspaceless -%}
{% endif %}
