{% set actual_language = app.request.locale %}
{% set route_params = app.request.get('_route_params') %}
<li class="dropdown">
    {% for language in admin_locales %}
        {% if actual_language == language %}
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="flag-icon flag-icon-{% if language == 'en' %}gb{% else %}{{ language }}{% endif %}"></span>
            </a>
        {% endif %}
    {% endfor %}
    <div class="dropdown-menu p-a-0">
        <div id="navbar-messages" class="ps-container ps-theme-default" data-ps-id="c9f8f95a-da13-7a6f-30a9-1aac9d4f1eb4">
            {% for language in admin_locales %}
                {% if actual_language != language %}
                    {% if route_params['_locale'] is defined %}
                        {% set route_params = route_params|merge({'_locale': language}) %}
                    {% endif %}
                    <a class="dropdown-item padding" href="{{ path(app.request.get('_route'), route_params) }}">
                        <span class="flag-icon flag-icon-{% if language == 'en' %}gb{% else %}{{ language }}{% endif %}"></span>
                        <span>{{ ('common.locale.' ~ language)|trans({}, 'app') }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div> <!-- / .dropdown-menu -->
</li>
