{% use "bootstrap_3_layout.html.twig" %}

{# Rows #}
{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">

        {{- form_label(form) -}}
        {% if image_input is defined and image_input and form.vars.data %}
            <br>
           <img src="{{ asset('uploads/media/' ~ form.vars.data.filename) }}" class="img-responsive img-thumbnail">
        {% endif %}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}
