{% spaceless %}
    <div class="col-{% if not pdf %}md{% else %}xs{% endif %}-6">
        <ul class="no-bullets">
            {% for item in items %}
                <li>
                    <span class="ability-title">{{ item.name }}</span>
                    {% include 'front/content/parts/skill_rating.html.twig' with {'rating': item.note} %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endspaceless %}
