{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale|slice(0, 2) }}" class="js csstransitions">
        <head>
            {{ render(controller('App\\Controller\\Front\\HomeController::meta')) }}
            {% include 'front/pagelayout/page_head_style.html.twig' %}
        </head>
        <body id="page-top">
            {% block content %}{% endblock %}
            {% include 'front/pagelayout/page_footer_script.html.twig' %}
        </body>
    </html>
{% endspaceless %}
